parameters:
    aryeo:
        tests:
            testCaseClass:
                - Tests\TestCase
                - PHPStan\Testing\RuleTestCase
                - PHPStan\Testing\PHPStanTestCase

services:
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\StateMachineableCanOnlyBeAddedToBackedEnum
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\StateMachineableCasesMustHaveEventsAttribute
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\StateMachineableMustUseManagesState
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\ManagesStateCanOnlyBeAddedToStateMachineable
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\StateMachineableCannotDuplicateTransitionTriggerPerCase
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\TriggersMustDefineATarget
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\TriggerTargetMustBeAModel
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\TriggerCannotHaveMultipleTargets
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\TransitionUsingMustBeATrigger
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Rules\TriggerCannotUseSerializesModels
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentStateMachines\PhpStan\Extensions\TargetPropertyIsAlwaysUsedExtension
        tags:
            - phpstan.properties.readWriteExtension
